html(lang=en)
  head
    title Weather widget
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet", href="main.css")
  body
    div.widget(style={margin: '10px', width: '310px'})
      div.notifications
        div.alert.alert-danger.alert-dismissible(role="alert" style={display: notFound?'block':'none'})
          button.close(type="button" data-dismiss="alert" aria-label="Close" style={display: 'none'})
            span(aria-hidden="true")
              != "&#215;"
          strong Error
          |
          |
          span.text City #{cityName} not found
      div.panel.panel-info
        div.panel-heading Weather in
          |
          |
          b#cityName= cityName
        ul.list-group
          li.list-group-item Temperature:
            |
            |
            b
              span#temperature= temperature
              |
              | °C

          li.list-group-item Humidity:
            |
            |
            b#humidity
              if humidity
                = humidity
          li.list-group-item Wind:
            |
            |
            b#wind
              if wind
                = wind
          li.list-group-item
              form.form-inline
                div.form-group
                  input.form-control(type="text" name="city" placeholder="City" value=cityName)
                |
                |
                button.btn.btn-default(type="submit")
                    span.idle Search
                    span.loading(style="display: none;")
                        i.glyphicon.glyphicon-refresh.glyphicon-spin
                        |
                        | Loading
    script(src="lib/promise-polyfill.min.js")
    script(src="lib/fetch.js")
    script(src="lib/url-template.js")
    script(src="lib/classlist-polyfill.js")
    script(src="main.js")
