@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.glyphicon-spin {
    animation: spin 2s infinite linear;
}

button.btn.loading .idle {
    display: none;
}
button.btn .loading {
    display: none;
}
button.btn.loading .loading {
    display: inline;
}
